<main id="indexDiv" role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4" style="margin-top: 56px;background:whitesmoke">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Dashboard</h1>

  </div>
  <div class="Square">
    <div class="title">
      <p class="info" style="margin-left: -6%">Customers</p>
    </div>
    <img class="Squreimage" src="../../../assets/icons8-customer-64.png" style="height: 5%;margin-top: 2%">
    <p class="detail">50</p>
  </div>

  <div class="Itemsquare">
    <div class="Itemtitle">
      <p class="info" style="margin-left: 10%">Item</p>
    </div>
    <img class="Squreimage" src="../../../assets/icons8-new-product-filled-100.png" style="margin-top: 3%">
    <p class="detail">500</p>
  </div>

  <div class="Ordersquare">
    <div class="Ordertitle">
      <p class="info">MyOrder</p>
    </div>
    <img class="Squreimage" src="../../../assets/icons8-add-shopping-cart-filled-100.png" style="margin-top: 3%">
    <p class="detail">1000</p>
  </div>

  <div class="Systemsquare">
    <div class="Systemtitle">
      <p class="info">Setting</p>
    </div>
    <img class="Squreimage" src="../../../assets/icons8-automatic-100.png" style="margin-top: 2%;height: 5%;">
    <p class="detail">New</p>
  </div>


  <section class="mainTitle">
    <label>Annual Sales</label>
  </section>
  <section class="contentBox_dark">
    <label>Content 1</label>
    <article>
      <img class="i1" src="../../../assets/background-map.gif" style="width: 70%;margin-left: %">
    </article>
  </section>
  <section class="contentBox_dark">
    <label>Content 2</label>
    <article>
      <img class="i2" src="../../../assets/ezgif.com-crop-1.gif" style="width: 90%;margin-left: 5%">
    </article>
  </section>


  <footer class="copyright">Developed By Dilan Lahiru
    <label>@All Right resvered</label>
  </footer>

</main>

