<div id="customerDiv" role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4 bg-light" style="margin-top: 56px">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <h1 class="h2">Customer</h1>

    </div>

    <div class=custom-div>
        <form (ngSubmit)="saveItem()"  #frmItems="ngForm">
            <div class="form-group">
              <label for="formGroupExampleInput">code</label>
              <input type="text" #txtcode name="txtcode" [(ngModel)]="selectedItem.code" class="form-control" id="formGroupExampleInput" placeholder="code">
            </div>
            <div class="form-group">
              <label for="formGroupExampleInput2">description</label>
              <input type="text" #txtdescription name="description"  [(ngModel)]="selectedItem.description" class="form-control" id="formGroupExampleInput2" placeholder="description">
            </div>
            <div class="form-group">
                <label for="formGroupExampleInput">unit price</label>
                <input type="text" #txtunitPrice name="unitPrice"  [(ngModel)]="selectedItem.unitPrice" class="form-control" id="formGroupExampleInput" placeholder="unit price">
              </div>
              <div class="form-group">
                  <label for="formGroupExampleInput">qty on hand</label>
                  <input type="text" #txtqtyonHand name="qtyonHand"  [(ngModel)]="selectedItem.qtyOnHand" class="form-control" id="formGroupExampleInput" placeholder="qty on hand">
                </div>

                <div style="margin-right: 10">
                  <button type="submit" class="btn btn-success" data-toggle="button" aria-pressed="false" autocomplete="off" style="margin: 2%;border-radius: 20px">
                      save item
                    </button>
                    <button type="button" class="btn btn-warning" data-toggle="button" aria-pressed="false" autocomplete="off" style="margin: 2%;border-radius: 20px">
                        update item
                      </button>
                      <button type="button" (click)="deleteItem(txtcode.value)" class="btn btn-danger" data-toggle="button" aria-pressed="false" autocomplete="off" style="margin: 2%;border-radius: 20px">
                          delete item
                        </button>
              </div>

          </form>
    </div>


    <div class="tbl">

      <table class="table table-hover table-bordered">
        <thead style="background-color: #130f40">

        <tr style="color: white">
          <th>code</th>
          <th>description</th>
          <th>unit price</th>
          <th>qty on hand</th>
        </tr>
        </thead>
        <tbody id="tbody">
          <tr *ngFor="let item of items" (click)="selectedItem=item">
            <td>{{item.code}}</td>
            <td>{{item.description}}</td>
            <td>{{item.unitPrice}}</td>
            <td>{{item.qtyOnHand}}</td>
          </tr>
        </tbody>
      </table>

      <br>
      <br>
      <br>
      <br>

      <footer class="copyright">Developed By Dilan Lahiru
        <br>
        <label>@All Right resvered</label>
      </footer>
    </div>
  </div>


  <!--new Customer-->

  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content" id="mode">
        <div class="modal-header bg-primary">
          <h4>New Customer</h4>
        </div>
        <div class="card-body">
          <form>

            <div class="form-group">
              <label class="lbl">Name</label>
              <input type="text" id="txtname" class="form-control" placeholder="Customer Name">
            </div>


            <div class="form-group">
              <label class="lbl">Address</label>
              <input type="text" id="txtAddress" class="form-control" placeholder="Customer Address">
            </div>

            <div class="form-group">
              <label class="lbl">Telephone</label>
              <input type="text" id="txtTel" class="form-control" placeholder="Customer Contact">
            </div>

            <div class="form-group">
              <label class="lbl">Salary</label>
              <input type="text" id="txtSalary" class="form-control" placeholder="Customer Salary">
            </div>

          </form>
        </div>
        <div class="modal-footer">
          <button type="button" id="btnCustomerSave" class="btn btn-primary">Save</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>


  <!--search customer-->

  <div class="modal fade" id="searchmyModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content" id="mode11">
        <div class="modal-header bg-warning">
          <h4>Search Customer</h4>
        </div>
        <div class="card-body">
          <form>

            <div class="form-group">
              <label class="lbl">Name</label>
              <input type="text" id="txtSname" class="form-control" placeholder="Customer Name">
            </div>


            <div class="form-group">
              <label class="lbl">Address</label>
              <input type="text" id="txtSAddress" class="form-control" placeholder="Customer Address">
            </div>

            <div class="form-group">
              <label class="lbl">Telephone</label>
              <input type="text" id="txtSTel" class="form-control" placeholder="Customer Contact">
            </div>

            <div class="form-group">
              <label class="lbl">Salary</label>
              <input type="text" id="txtSSalary" class="form-control" placeholder="Customer Salary">
            </div>

          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>

